*.lmp
*.out
/lab2/Litterature
*.swp
*.1
*.3
*.2
*.4
*.5
*.pdos_atm#1(Mg)_wfc#1(s)
*.pdos_atm#1(Mg)_wfc#2(p)
*.pdos_atm#2(O)_wfc#2(p)
*.pdos_atm#2(O)_wfc#1(s)
*.pdos_tot
*.rap
/lab3/exercise_1/tmp/MgO.save
/lab3/exercise_3/temp
/lab3/exercise_2/geometry_optimization/pbe/out/MoS2_eos_pbe.save
/lab3/exercise_1/tmp
/lab3/exercise_2/bands/out/MoS2.save
lab3/exercise_2/bands/CRASH
/lab3/exercise_3/__pycache__
/lab2/Problem2/simulations
/lab2/Problem4/simulations
/lab2/Problem5/simulations
/lab2/Problem5/simulations_2
/lab2/Problem5/simulations_k=4_a=9.00
/lab2/Problem5/simulations_k=4_a=9.05
/lab2/Problem5/simulations_k=6_a=9.00
/lab2/Problem5/simulations_k=6_a=9.05
/lab2/Problem1/simulations
/lab2/Problem3/simulations
/lab2/Problem5/simulations_k=8_a=9.00
/lab2/Problem5/simulations_k=8_a=9.05
/lab2/Problem7/simulations
lab2/Problem7/simulations_k=6/CaO.scf.a=9.025.ecut=70.k=6.in
/lab2/Problem7/simulations_k=6
/lab2/Problem9/tetragonal_strain
/lab2/Problem9/tetragonal_strain_c44
/lab3/exercise_2/__pycache__
/lab4/examples/.ipynb_checkpoints
*.in
*.lammpstrj
lab4/particle correlation in alpha AgI.pdf
*.lammps
*.json
lab4/P1/timestep_convergence/5159
lab4/P1/timestep_convergence/4913
lab4/P1/timestep_convergence/5036
lab4/P1/timestep_convergence/5282
